.*
/data/*
/inter/*
/figs/*
!/data/.gitkeep
!/inter/.gitkeep
!.gitignore
!.github/

!/figs/gmm_intro_analysis_t_dark.svg
!/figs/gmm_intro_analysis_t_light.svg

*__pycache__

*.svg
*.pdf
*.jpg
*.jpeg
*.png

