.*
/data/*
/inter/*
/figs/*
!/data/.gitkeep
!/inter/.gitkeep
!/figs/.gitkeep
!/figs/gmm_intro_analysis_t_dark.svg
!/figs/gmm_intro_analysis_t_light.svg
!.gitignore
!.github/



*__pycache__

# *.svg
*.pdf
*.jpg
*.jpeg
*.png

